@charset "UTF-8";

html, body {
    max-width: 650px;
    margin: 1em auto;
    padding: 0 0.7em;
    font-family: "Open Sans", sans-serif;
}

a {
    color: #CC333F;
    text-decoration: none;
    -webkit-transition: all 40ms ease-in;  /* Chrome 1-25, Safari 3.2+ */
    -moz-transition: all 40ms ease-in;     /* Firefox 4-15 */
    -o-transition: all 40ms ease-in;       /* Opera 10.50-12.00 */
    transition: all 40ms ease-in;          /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
    display: inline;
}

a:hover {
    color: #FFF;
    background-color: #CC333F;
}

/* We have a single navigation element, in a different colour, that links back
   to the home page. The rest have the normal link styling. */

header {
    margin-bottom: 1.5em;
    font-size: 1.2em;
}

header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    float: left;
}

header nav ul.home {
    float: left;
}

header nav ul.extra {
    float: right;
}

header nav ul.home li a {
    color: #FFF;
    background-color: #CC333F;
    font-style: italic;
    border-radius: 2px;
    -webkit-transition: all 75ms ease-in;  /* Chrome 1-25, Safari 3.2+ */
    -moz-transition: all 75ms ease-in;     /* Firefox 4-15 */
    -o-transition: all 75ms ease-in;       /* Opera 10.50-12.00 */
    transition: all 75ms ease-in;          /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

header nav ul.home li a:hover {
    color: #CC333F;
    background-color: rgba(204, 51, 63, 0.1);
}

header nav ul.extra li:last-child a {
    margin-right: 0;
    padding-right: 0;
}

header nav ul.extra li a {
    padding: 0 0.4em;
    margin: 0 0.5em;
    color: #aaa;
    text-transform: lowercase;
}

header nav ul.extra li a:hover {
    color: #222;
    background-color: transparent;
}

header nav ul.home li a {
    margin-left: 0; /* Since this navigation element is always the leftmost, we
                       override it to not have any left margin (whereas the
                       other links in the nav area do. ) */
    padding: 0 0.4em;
    font-weight: bold;
}

footer {
    border-top: 2px solid #eee;
    margin-top: 2em;
    margin-bottom: 2em;
    overflow: hidden;
    font-size: 0.8em;
    line-height: 1.4;
    opacity:0.6;
    -webkit-transition: opacity 100ms ease-in;  /* Chrome 1-25, Safari 3.2+ */
    -moz-transition: opacity 100ms ease-in;     /* Firefox 4-15 */
    -o-transition: opacity 100ms ease-in;       /* Opera 10.50-12.00 */
    transition: opacity 100ms ease-in;          /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

footer:hover {
    opacity:1;
}

footer div.info {
    float: left;
}

footer div.contact {
    float: right;
}

footer div.contact a {
    font-style: normal;
}

footer div.contact nav {
    text-align: right;
}

footer div.contact nav li {
    list-style: none;
}

footer nav, footer div p {
    margin: 1em 0 0;
}

article p {
    text-align: justify;
}

@media screen and (max-width: 600px) {
    article p {
        text-align: left;
    }

    footer div {
        float: none;
    }
}


pre {
    overflow: auto;
    background-color: #eee;
    padding: 0.6em;
}

pre, code {
    font-family: "Cousine", monospace;
}

code {
    white-space: nowrap;
}

h1, h2 {
    font-size: 1em;
}

h2 {
    border-bottom: 1px solid #eee;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    font-weight: inherit;
}

th, td {
    padding: 0.3em;
}

thead th {
    background-color: #f8f8f8;
}

tbody th {
    text-align: left;
}

tr:nth-child(even) {
    background-color:#f8f8f8;
}

td.travis {
    text-align: center;
}

td.travis a img {
    vertical-align: middle;
    margin-top: -5px;
}

td.travis a:hover {
    background-color: transparent;
}
