name: Chris Down
url: https://chrisdown.name

links:
  github: https://github.com/cdown
  ulse: https://unix.stackexchange.com/users/10762/chris-down?tab=profile
  linkedin: https://www.linkedin.com/in/chrisldown

personal:
  name: Chris Down
  email:
    account: chris

exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - Rakefile
  - env
  - _posts_todo
  - redirects.json
  - requirements.txt
  - purgecss.config.js
  - package.json
  - package-lock.json
  - _checks

include:
  - .well-known

destination: _deploy

highlighter: rouge

# TODO: inherit some of these from site.links

header:
  links:
    - icon: book
      url: /archive.html
      title: Blog archive
    - icon: camera
      url: https://www.flickr.com/photos/chrisdown/albums/72157711447135721?layout=justified
      title: My photos on Flickr
      hide_if_small: true
    - icon: linkedin
      url: https://www.linkedin.com/in/chrisldown
      title: My LinkedIn profile
    - icon: stackoverflow
      url: https://unix.stackexchange.com/users/10762/chris-down?tab=profile
      title: My Unix & Linux Stack Exchange profile
    - icon: github
      url: https://github.com/cdown
      title: My GitHub profile
    - icon: twitter
      url: https://twitter.com/unixchris
      title: My Twitter profile
    - icon: mastodon
      url: https://fosstodon.org/@cdown
      title: My Mastodon profile

plugins:
  - jekyll-sitemap
  - jekyll-purgecss
  - jekyll-minifier

# Disable smart quotes
kramdown:
  smart_quotes: ["apos", "apos", "quot", "quot"]

jekyll-minifier:
  remove_intertag_spaces: true
  remove_quotes: true
  simple_doctype: true
  simple_boolean_attributes: true
  compress_js_templates: true
  uglifier_args:
    harmony: true
