---
layout: default
title: Chris Down
---

{% if site.posts.size != 0 %}
<h1>Blog posts</h1>
<ul>
    {% for post in site.posts %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>

<h1>Open source projects</h1>
{% endif %}
<p>I write simple, minimalist applications. I try to adhere to Dieter Rams' <em><a href="https://www.vitsoe.com/gb/about/good-design">ten principles of good design</a></em> wherever possible.</p>

<p>You can find my Git repositories on my <a href="{{ site.links.github }}">GitHub</a> profile, and Travis build information for selected repositories on the <a href="/projects">projects</a> page. You can also find my AUR packages <a href="{{ site.links.aur }}">here</a>, with repositories for their packaging <a href="https://github.com/cdown-aur/">also on GitHub</a>. I'm also fairly active on <a href="{{ site.links.stackexchange }}">Unix &amp; Linux Stack Exchange</a>.</p>

<p>The fastest and most reliable way to contact me is by e-mail. You can find my contact details in the footer.</p>
