---
layout: default
title: Chris Down
---

<h1>Blog posts</h1>
<ul>
    {% for post in site.posts %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a class="contextless" href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>

<h1>Major open source projects</h1>
<p>I write simple, minimalist applications, mostly to fulfil my own needs. I try to adhere to Dieter Rams' <a href="http://en.wikipedia.org/wiki/Dieter_Rams#Rams.27s_ten_principles_of_.22good_design.22">ten principles of good design</a> wherever possible.</p>

<ul>
    {% for project in site.projects %}
        <li><a class="contextless" href="{{ project.url }}">{{ project.name }}</a>: {{ project.description }}</li>
    {% endfor %}
</ul>
