---
layout: default
title: Chris Down
---

{% if site.posts.size != 0 %}
<h1>Blog posts</h1>
<ul>
    {% for post in site.posts %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>

<h1>Open source projects</h1>
{% endif %}
<p>I write simple, minimalist applications, mostly to fulfil my own needs. I try to adhere to Dieter Rams' <em><a href="https://www.vitsoe.com/gb/about/good-design">ten principles of good design</a></em> wherever possible. Here is a small sample of my projects:</p>

<ul>
    {% for project in site.projects %}
        <li><a href="{{ project.url }}">{{ project.name }}</a>: {{ project.description }}</li>
    {% endfor %}
</ul>

<p>You can find the rest of my repositories on my <a href="{{ site.links.github }}">GitHub</a>.</p>

<p>This website is also open-source under an MIT license. The source is available <a href="https://github.com/cdown/cdown.github.com/">here</a>.</p>
