@charset "UTF-8";

html, body {
    max-width: 700px;
    margin: 2em auto 0;
}

a {
    color: #a00;
    text-decoration: none;
}

a:hover {
    color: #000;
}

article {
    text-align: justify;
}

/* We have a single navigation element, in a different colour, that links back
   to the home page. The rest have the normal link styling. */

header {
    margin-bottom: 2em;
}

header nav li {
    display: inline-block;
}

header nav li a {
    margin-left: 1em;
    color: #aaa;
}

header nav li.home a {
    margin-left: 0; /* Since this navigation element is always the leftmost, we
                       override it to not have any left margin (whereas the
                       other links in the nav area do. ) */
    color: #a00;
}

header nav li a:hover {
    color: inherit;
}

footer {
    border-top: 2px solid #eee;
    margin-top: 2em;
    font-size: 0.8em;
    line-height: 1.4;
}

footer div.contact {
    float: left;
}

footer div.sites {
    float: right;
}

footer div.sites nav {
    text-align: right;
}

footer div.sites nav li {
    list-style: none;
}

footer nav, footer div p {
    margin: 1em 0 0;
}
