---
layout: default
title: Build status

builds:
  - name: cedict_json
  - name: chrisdown.name
    disable:
      - coveralls
      - appveyor
      - landscape
      - requires  # TODO: Ruby requires?
  - name: chrisdown.name-ssl
    disable:
      - coveralls
      - appveyor
      - landscape
      - requires
  - name: defeat
  - name: download-flickr-set
  - name: fix-srt-order
  - name: gh-mirror
  - name: imurl
  - name: jingui
    disable:
      - appveyor
  - name: osmo
  - name: pinyin
  - name: pyaur
  - name: radiusweb
  - name: rtorrent-cookbook
    disable:
      - appveyor
      - coveralls
      - landscape
      - requires
  - name: scurl
  - name: tinysrt
  - name: tzupdate
  - name: yturl
---

<table>
  <thead>
    <tr>
      <th>Repository</th>
      <th>Linux build</th>
      <th>Windows build</th>
      <th>Coverage</th>
      <th>Code health</th>
      <th>Dependencies</th>
    </tr>
  </thead>
  <tbody>
    {% for repo in page.builds %}
    <tr>
      <th><a href="https://github.com/cdown/{{ repo.name }}">{{ repo.name }}</a></th>
      <td class="status-image">
        {% if repo.disable contains 'travis' %}
        N/A
        {% else %}
        <a href="https://travis-ci.org/cdown/{{ repo.name }}">
          <img src="https://img.shields.io/travis/cdown/{{ repo.name }}/master.svg?label=is" alt="Linux build status for {{ repo.name }}" />
        </a>
        {% endif %}
      </td>
      <td class="status-image">
        {% if repo.disable contains 'appveyor' %}
        N/A
        {% else %}
        <a href="https://ci.appveyor.com/project/cdown/{{ repo.name }}">
          <img src="https://img.shields.io/appveyor/ci/cdown/{{ repo.name }}/master.svg?label=is" alt="Mac build status for {{ repo.name }}" />
        </a>
        {% endif %}
      </td>
      <td class="status-image">
        {% if repo.disable contains 'coveralls' %}
        N/A
        {% else %}
        <a href="https://coveralls.io/r/cdown/{{ repo.name }}">
          <img src="https://img.shields.io/coveralls/cdown/{{ repo.name }}/master.svg?label=is" alt="Coverage for {{ repo.name }}" />
        </a>
        {% endif %}
      </td>
      <td class="status-image">
        {% if repo.disable contains 'landscape' %}
        N/A
        {% else %}
        <a href="https://landscape.io/github/cdown/{{ repo.name }}/master">
          <img src="https://landscape.io/github/cdown/{{ repo.name }}/master/landscape.svg?label=is" alt="Code health for {{ repo.name }}" />
        </a>
        {% endif %}
      </td>
      <td class="status-image">
        {% if repo.disable contains 'requires' %}
        N/A
        {% else %}
        <a href="https://requires.io/github/cdown/{{ repo.name }}/requirements/?branch=master">
          <img src="https://img.shields.io/requires/github/cdown/{{ repo.name }}.svg?label=are" alt="Dependency status for {{ repo.name }}" />
        </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
