@charset "UTF-8";

html, body {
    max-width: 720px;
    margin: 1em auto;
    padding: 0 0.7em;
    font-family: "Open Sans", sans-serif;
}

a {
    color: #CC333F;
    text-decoration: none;
    transition: all 40ms ease-in;
    display: inline;
}

a:hover {
    color: #FFF;
    background-color: #CC333F;
}

li p {
    margin: 0;
    padding: 0;
}

/* We have a single navigation element, in a different colour, that links back
   to the home page. The rest have the normal link styling. */
header {
    margin-bottom: 1.5em;
    font-size: 1.2em;
}

/* This is a hack to clear the header floats. */
header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    float: left;
}

header nav ul.home {
    float: left;
}

header nav ul.extra {
    float: right;
}

header nav ul.home li a {
    color: #FFF;
    background-color: #CC333F;
    font-style: italic;
    border-radius: 2px;
    transition: all 75ms ease-in;
}

header nav ul.home li a:hover {
    color: #CC333F;
    background-color: rgba(204, 51, 63, 0.1);
}

header nav ul.extra li:last-child a {
    margin-right: 0;
}

header nav ul.extra li a {
    margin: 0 0.6em;
    color: #aaa;
    text-transform: lowercase;
}

header nav ul.extra li a:hover {
    color: #222;
    background-color: transparent;
}

header nav ul.home li a {
    margin-left: 0; /* Since this navigation element is always the leftmost, we
                       override it to not have any left margin (whereas the
                       other links in the nav area do. ) */
    padding: 0 0.4em;
    font-weight: bold;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.2em;
}

footer {
    border-top: 2px solid #eee;
    margin-top: 2em;
    margin-bottom: 2em;
    overflow: hidden;
    font-size: 0.8em;
    line-height: 1.4;
    opacity: 0.6;
    transition: opacity 100ms ease-in;
}

footer:hover {
    opacity: 1;
}

footer div.info {
    float: left;
}

footer div.contact {
    float: right;
}

footer div.contact a {
    font-style: normal;
}

footer div.contact p {
    text-align: right;
}

footer div p {
    margin: 1em 0 0;
}

article p {
    text-align: justify;
}

pre, code {
    font-family: "Droid Sans Mono", monospace;
    font-size: 1em;
}

code {
    white-space: pre;
}

pre {
    background-color: #f7f7f7;
    border: 1px solid #eee;
    padding: 0.6em;
    overflow: auto;
}

blockquote {
    text-align: left;
    margin-left: 1.5em;
    padding-left: 0.7em;
    border-left: 3px solid #ddd;
}

iframe {
    /* lol browsers */
    border: none;
    border-width: 0px;
}

.screen-reader-text {
    position: absolute;
    /* The next two lines are among the worst shite I've ever written. */
    top: -9999px;
    left: -9999px;
}

.youtube-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.youtube-container iframe,
.youtube-container object,
.youtube-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 600px) {
    article p {
        text-align: left;
    }

    footer div.info, footer div.contact {
        float: none;
    }

    footer div.contact p {
        text-align: left;
    }
}

img:not(.nonstandard) {
  display: block;
  max-width:100%;
  margin: 2em auto;
  height: auto;
  -webkit-box-shadow: 0px 0px 2em 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 2em 0px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 2em 0px rgba(0,0,0,0.35);
}

/* Builds page */

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    font-weight: inherit;
}

th, td {
    padding: 0.3em;
}

thead th {
    background-color: #f8f8f8;
}

tbody th {
    text-align: left;
}

tr:nth-child(even) {
    background-color:#f8f8f8;
}

td.status-image {
    text-align: center;
}

td.status-image a img {
    vertical-align: middle;
    margin-top: -5px;
}

td.status-image a:hover {
    background-color: transparent;
}
