<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        {% if page.description != "omit" %}
            {% if page.description %}
                <meta name="description" content="{{ page.description }}">
            {% elsif page.excerpt %}
                <meta name="description" content="{{ page.excerpt }}">
            {% else %}
                <meta name="description" content="{{ site.description }}">
            {% endif %}
        {% endif %}
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/css/fontawesome-stripped.css">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,400">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Droid+Sans+Mono">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="alternate" type="application/atom+xml" title="Recent blog posts" href="/feed.xml">
        <link rel="icon" href="/favicon.ico">
    </head>
    <body>
        <header>
            <nav>
                <ul class="home">
                <li><a href="/">{{ site.personal.name }}</a></li>
                </ul>
                <ul class="extra">
                {% for link in site.header.links %}
                    <li title="{{ link.title }}">
                        <a href="{{ link.url }}">
                            <i class="icon-{{ link.icon }}"></i>
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </nav>
        </header>

        <article>
        {{ content }}
        </article>

        <footer>
            <div class="info">
                <p>
                    {{ site.personal.name }}<br>
                    {{ site.personal.job }} at <a href="{{ site.personal.employer.url }}">{{ site.personal.employer.name }}</a><br>
                    PGP: <a href="/pgp">0x46C889C6</a>
                </p>
            </div>
            <div class="contact">
                <p>
                    <a class="email" href="http://scr.im/{{ site.personal.email.scrim }}">{{ site.personal.email.account }}@[this domain]</a><br>
                    <a href="tel:{{ site.personal.phone }}">{{ site.personal.phone }}</a><br>
                    <a href="irc://irc.freenode.net/cdown">cdown</a> on <a href="https://freenode.net">freenode</a>
                </p>
            </div>
        </footer>

        <script src="/js/email.js"></script>
    </body>
</html>
