<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        {% if page.description %}
            <meta name="description" content="{{ page.description }}">
        {% else %}
            <meta name="description" content="{{ site.description }}">
        {% endif %}
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/favicon.ico">
    </head>
    <body>
        <header>
            <nav>
                <ul class="home">
                <li><a href="/">{{ site.personal.name }}</a></li>
                </ul>
                <ul class="extra">
                {% for link in site.header.links %}
                    <li title="{{ link.title }}">
                        <a href="{{ link.url }}">
                            <i class="icon-{{ link.icon }}"></i>
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </nav>
        </header>

        <article>
        {{ content }}
        </article>

        <footer>
            <div class="info">
                <p>
                    {{ site.personal.name }}<br>
                    {{ site.personal.job }} at <a href="{{ site.personal.employer.url }}">{{ site.personal.employer.name }}</a><br>
                    PGP: <a href="/pgp">0xA7CC9B4D</a>
                </p>
            </div>
            <div class="contact">
                <p>
                    <a href="mailto:{{ site.personal.email }}">{{ site.personal.email }}</a><br>
                    <a href="tel:{{ site.personal.phone }}">{{ site.personal.phone }}</a><br>
                    <a href="irc://irc.freenode.net/cdown">cdown</a> on <a href="https://freenode.net">freenode</a>
                </p>
            </div>
        </footer>
    </body>
</html>
