<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ site.description }}">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" type="image/vnd" href="/favicon.ico">
    </head>
    <body>
        <header>
            <nav>
                <ul class="home">
                <li><a href="/">{{ site.personal.name }}</a></li>
                </ul>
                <ul class="extra">
                {% for link in site.header.links %}
                    <li><a href="{{ link.url }}">{{ link.name }}</a></li>
                {% endfor %}
                </ul>
            </nav>
        </header>

        <article>
        {{ content }}
        </article>

        <footer>
            <div class="info">
                <p>
                    {{ site.personal.name }}<br>
                    {{ site.personal.job }} at
                    {% for employer in site.personal.employers %}
                        {% if forloop.first %}
                            <a href="{{ employer.url }}">{{ employer.name }}</a>
                        {% elsif forloop.last %}
                            and <a href="{{ employer.url }}">{{ employer.name }}</a>
                        {% else %}
                            , <a href="{{ employer.url }}">{{ employer.name }}</a>
                        {% endif %}
                    {% endfor %}
                    <br>
                    PGP: <a href="http://chrisdown.name/pgp">0xA7CC9B4D</a>
                </p>
            </div>
            <div class="contact">
                <p>
                    <a href="mailto:{{ site.personal.email }}">{{ site.personal.email }}</a><br>
                    {% for phone in site.personal.phones %}
                        <a href="tel:{{ phone.literal }}">{{ phone.visual }}</a><br>
                    {% endfor %}
                </p>
            </div>
        </footer>
    </body>
</html>
