---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="noodp,noydir">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="alternate" type="application/atom+xml" title="Recent blog posts" href="/feed.xml">
    <link rel="icon" href="/favicon.ico">
  </head>
  <body>
    <header>
      <nav>
        <ul class="home">
          <li><a href="/">{{ site.personal.name }}</a></li>
        </ul>
        <ul class="extra">
          {% for link in site.header.links %}
          <li title="{{ link.title | xml_escape }}">
            <a href="{{ link.url }}">
              <span aria-hidden="true" class="font-awesome-{{ link.icon }}"></span>
              <span class="screen-reader-text">{{ link.title | xml_escape }}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </header>

    <article>
      {{ content }}
    </article>

    <footer>
      <div class="info">
        <p>
        {{ site.personal.name }}<br>
        PGP: <a href="https://keybase.io/cdown/key.asc">0xDF8D21B616118070</a>
        </p>
      </div>
      <div class="contact">
        <p>
        Questions or comments?<br>
        My e-mail is <a id="footer-email" href="http://scr.im/{{ site.personal.email.scrim }}">{{ site.personal.email.account }}@[this domain]</a>.
        </p>
      </div>
    </footer>
    <script>
      !function(c,d,o,w,n){c.GoogleAnalyticsObject=o;c[o]||(c[o]=function(){
      (c[o].q=c[o].q||[]).push(arguments)});c[o].l=+new Date;w=d.createElement('script');
      n=d.scripts[0];w.src='//www.google-analytics.com/analytics.js';
      n.parentNode.insertBefore(w,n)}(window,document,'ga');

      ga('create', 'UA-58706842-1', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    </script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
          var el = document.getElementById('footer-email')
          var address = ['chris', 'chrisdown.name'].join('@');
          el.href = 'mailto:' + address;
          el.innerHTML = address;

          var images = document.getElementsByTagName('img');
          var image_list = Array.prototype.slice.call(images);
          image_list.forEach(function(img, _, _) {
            var a = document.createElement('a');
            a.href = img.src;
            img.parentNode.replaceChild(a, img);
            a.appendChild(img);
          })
      });
    </script>
  </body>
</html>
